.box {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer.box {
    position: relative;
    height: 21rem;
    width: 11rem;
    background: rgb(67, 59, 59);
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.inner.box {
    display: block;
    color: rgb(0, 0, 0);
    border: 1em inset rgb(245, 235, 235);
    position: absolute;
    height: 20rem;
    width: 10rem;
    background: rgb(75, 211, 238);
}

.canvasWrapper {
    display: flex;
    width: 10em;
    height: 20em;
    background: rgb(68, 156, 219);
}